    <div class="splashScreen splashScreen__bg">
      <div class="splashScreen__inner splashScreen__bg">
        <div class="splashScreen__text" data-text="LOADING...">
          LOADING...
        </div>
      </div>
    </div>

    <div class="mouseStalker"></div>

    <footer class="gFooter">
      <p class="gFooter__mes">Many thanks.</p>
    </footer>

  </body>
</html>